
#productTable td { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; vertical-align: middle;}
#productTable td input { max-width: 125px; }
    .sortOrder:after{
        content: "\25b2";
    }
    .sortOrder.reverse:after{
        content: "\25bc";
    }
.partial-view .leave-request .panel{
  margin:25px 0;
}

.partial-view .leave-request .panel.panel-sub{
  margin:0;
}
a.reg-link{
  color: #008FA7;
  padding: 8px;
}

.sprite-o1, .sprite-o2, .sprite-o3, .sprite-o4, .sprite-o5, .sprite-o6{
  margin-bottom: -4px;
margin-right: 5px;
}
.top-hat{
  background:#dce5ee;
  text-align: center;
  padding:5px;
  font-size: 16px;
  color:#333;
  margin: 0px auto;
  max-width: 768px;
}
.top-logo{
  text-align: center;
  padding: 25px 0;
}
.ma-r-20{
  margin-right: 20px;
}
label.la-16{
  font-size:16px;
}
.information{
  float:left;
  padding:15px;
  width: calc(100% - 800px);
  margin-left:15px;
  background: #eee;
}
.information p{
  color:#333;
  font-size: 14px;
}
.information div{
  margin: 0 auto 15px;
  border:none;
  display: block;
}
.photo-cube{
  margin:15px;
}
.leave-request .choose-work{
  float:left;
}
.leave-request #request1, .leave-request #request2, .leave-request #request3, .leave-request #request4, .leave-request #request5, .leave-request #request6{
  float:left;
  margin-top:0;
  min-width: 768px;
}
.panel-default>.panel-heading{
  background: #DCE3EB;
}
.panel-default  .panel-title{
  color: #333;
}
.panel-title{
  color:white;
}
.multiselect-item{
  cursor: pointer;
}
.dropdown-menu.fixed-height{
  max-height: 300px;
  overflow: auto;
  width: 100%;
}
.caret.ma10{
  margin-top:10px;
}
.ma-b-10{
  margin-bottom: 10px;
}
.btn.width100{
  width:100%;
background: white none repeat scroll 0% 0%;
border: 1px solid #CCC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}
.create-auto:hover{
	cursor:pointer;
}
.panel a:hover, .panel a:active{
	text-decoration:none;
}
.btn-fixed{
	position: fixed;
	top: 165px;
	margin-left: -15px;
  border-radius: 0;
}
.answers{
	float:right;
	margin-right:5px;
}
.row-hover .col-lg-3,.row-hover .col-lg-2{
	height:60px;
}
.row-hover:hover{
	cursor:pointer;
}
.pointer{
  cursor:pointer;
}
button.close{
  margin:-5px 0 0 10px;
}
.choose-work{
  background: #fff;
  padding: 0 15px;
}
.choose-work h2{
  text-transform: uppercase;
  font-size: 30px;
}
.choose-work p{
  text-align: center;
  padding:10px 0;
}
.choose-work__wrap{
  margin:0 auto;
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  max-width: 300px;
  padding:15px 5px;
  border: 1px solid #ccc;
}
.choose-work__wrap:hover{
  border:3px solid #00a79d;
  cursor: pointer;
}
.choose-work__active{
  border:3px solid #1d75bd;
}
.container{
  min-width: 0px;
}
.btn-primary {
  color: #ffffff;
  background-color: #F05A29;
  border-color: #F05A29;
  border-radius: 3px;
}

.comment-form p{
  padding:10px;
  border: 1px solid #f05a29;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #DE4F20;
  border-color: #DE4F20;
}

.btn-publish {
  color: #ffffff;
  background-color: #00a79d;
  border-color: #00a79d;
  border-radius: 3px;
  padding: 10px;
  margin: 0 0 25px;
}

.btn-publish:hover,
.btn-publish:focus,
.btn-publish:active,
.btn-publish.active,
.open .dropdown-toggle.btn-publish {
  color: #ffffff;
  background-color: #068f86;
  border-color: #068f86;
}



.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active{
  background-color: #ec5929;
  border-color: #ec5929;
}

.agree{
  padding-top:10px;
  padding-left: 20px;
  position: relative;
}

.agree input{
  position: absolute;
  top: 11.2px;
  left: 0px;
  width: 14px;
}

/*.robot, .u2, .u3, .u1, .u4, 
.eye2, .big-kuzov, .edit, .eye, .kuzov-work, 
.play, .del, .stop, .otv-na-zayavku, .lock, 
.strelka1, .strelka2, .strelka3, .add-car, .big-car, 
.dannie-auto, .vibor-auto, .kuzov, .remont, .to, 
.tuning, .big-otvet, .l-robot, .avto-user, .dobavit-user, 
.moi-otveti, .zayavka-user, .zayavka, .metro, .redakt-profile
{ display: inline-block; background: url('../images/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.robot { background-position: -1px -0px; width: 167px; height: 199px; }
.u2 { background-position: -1px -200px; width: 118px; height: 118px; }
.u3 { background-position: -1px -319px; width: 118px; height: 118px; }
.u1 { background-position: -1px -438px; width: 117px; height: 118px; }
.u4 { background-position: -1px -557px; width: 117px; height: 118px; }
.eye2 { background-position: -120px -200px; width: 33px; height: 33px; }
.big-kuzov { background-position: -120px -234px; width: 30px; height: 30px; }
.edit { background-position: -120px -265px; width: 2em; height: 2em; }
.eye { background-position: -120px -295px; width: 2em; height: 2em; }
.kuzov-work { background-position: -120px -325px; width: 30px; height: 30px; margin-bottom: -9px; margin-right: 6px; margin-top: -4px;}
.play { background-position: -120px -356px; width: 2em; height: 2em; }
.del { background-position: -120px -387px; width: 2em; height: 2em; }
.stop { background-position: -120px -417px; width: 29px; height: 30px; }
.otv-na-zayavku { background-position: -119px -448px; width: 28px; height: 24px; margin-top: -13px; margin-bottom: -4px; margin-right:5px; }
.lock { background-position: -119px -473px; width: 27px; height: 35px; }
.strelka1 { background-position: -119px -509px; width: 26px; height: 13px; float:right; margin-top:5px;}
.strelka2 { background-position: -119px -523px; width: 26px; height: 13px; float:right; margin-top:5px;}
.strelka3 { background-position: -119px -537px; width: 26px; height: 12px; float:right; margin-top:5px;}
.add-car { background-position: -119px -550px; width: 24px; height: 23px; }
.big-car { background-position: -119px -574px; width: 24px; height: 20px; margin-bottom: -4px; margin-right: 6px; }
.dannie-auto { background-position: -119px -595px; width: 24px; height: 20px; }
.vibor-auto { background-position: -119px -616px; width: 24px; height: 21px; }
.kuzov { background-position: -146px -509px; width: 21px; height: 21px; }
.remont { background-position: -146px -531px; width: 21px; height: 21px; }
.to { background-position: -144px -553px; width: 21px; height: 21px; }
.tuning { background-position: -144px -575px; width: 21px; height: 21px; }
.big-otvet { background-position: -148px -448px; width: 18px; height: 17px; }
.l-robot { background-position: -148px -466px; width: 18px; height: 21px; }
.avto-user { background-position: -151px -234px; width: 15px; height: 11px; }
.dobavit-user { background-position: -151px -246px; width: 15px; height: 15px; }
.moi-otveti { background-position: -151px -262px; width: 14px; height: 14px; }
.zayavka-user { background-position: -154px -200px; width: 13px; height: 19px; }
.zayavka { background-position: -151px -277px; width: 13px; height: 19px; }
.metro { background-position: -154px -220px; width: 12px; height: 13px; margin-right:2px; margin-bottom:-2px; }
.redakt-profile { background-position: -151px -297px; width: 12px; height: 12px; }
*/

.sprite{
  display: inline-block; overflow: hidden; text-indent: -9999px; text-align: left;
  background: url('../images/sprites.png') no-repeat; 
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
.sprite {
     background-image: url('../images/sprites_retina.png');
     background-size: 2583px 2158px;
  }
}

.sprite-addphoto {
  width: 53px;
  height: 45px;
  background-position: 0 0;
}

.sprite-bonus {
  width: 20px;
  height: 20px;
  background-position: -53px -45px;
}

.sprite-calendar {
  width: 31px;
  height: 29px;
  background-position: -73px -65px;
}

.sprite-clock {
  width: 27px;
  height: 28px;
  background-position: -104px -94px;
}

.sprite-comment {
  width: 28px;
  height: 25px;
  background-position: -131px -122px;
}

.sprite-delete {
  width: 28px;
  height: 29px;
  background-position: -159px -147px;
}

.sprite-edit {
  width: 29px;
  height: 29px;
  background-position: -187px -176px;
}

.sprite-eye {
  width: 29px;
  height: 29px;
  background-position: -216px -205px;
}

.sprite-foto {
  width: 147px;
  height: 63px;
  background-position: -245px -234px;
}

.sprite-girl {
  width: 27px;
  height: 27px;
  background-position: -392px -297px;
}

.sprite-krug {
  width: 51px;
  height: 51px;
  background-position: -419px -324px;
}

.sprite-logo {
  width: 267px;
  height: 69px;
  background-position: -470px -375px;
}

.sprite-logo-footer {
  width: 161px;
  height: 43px;
  background-position: -737px -444px;
}

.sprite-m1 {
  width: 36px;
  height: 36px;
  background-position: -898px -487px;
}

.sprite-m2 {
  width: 36px;
  height: 36px;
  background-position: -934px -523px;
}

.sprite-m3 {
  width: 36px;
  height: 36px;
  background-position: -970px -559px;
}

.sprite-m4 {
  width: 36px;
  height: 36px;
  background-position: -1006px -595px;
}

.sprite-m5 {
  width: 36px;
  height: 36px;
  background-position: -1042px -631px;
}

.sprite-m6 {
  width: 36px;
  height: 36px;
  background-position: -1078px -667px;
}

.sprite-man {
  width: 27px;
  height: 26px;
  background-position: -1114px -703px;
}

.sprite-master-na-dom {
  width: 26px;
  height: 31px;
  background-position: -1141px -729px;
}

.sprite-metka {
  width: 20px;
  height: 34px;
  background-position: -1167px -760px;
}

.sprite-moi-zayavki {
  width: 18px;
  height: 26px;
  background-position: -1187px -794px;
}

.sprite-money {
  width: 33px;
  height: 30px;
  background-position: -1205px -820px;
}

.sprite-na-sait {
  width: 18px;
  height: 17px;
  background-position: -1238px -850px;
}

.sprite-o1 {
  width: 25px;
  height: 25px;
  background-position: -1256px -867px;
}

.sprite-o2 {
  width: 25px;
  height: 25px;
  background-position: -1281px -892px;
}

.sprite-o3 {
  width: 25px;
  height: 25px;
  background-position: -1306px -917px;
}

.sprite-o4 {
  width: 25px;
  height: 25px;
  background-position: -1331px -942px;
}

.sprite-o5 {
  width: 25px;
  height: 25px;
  background-position: -1356px -967px;
}

.sprite-o6 {
  width: 25px;
  height: 25px;
  background-position: -1381px -992px;
}

.sprite-ostavit-zayavku {
  width: 23px;
  height: 22px;
  background-position: -1406px -1017px;
}

.sprite-otv-na-zayavku {
  width: 31px;
  height: 26px;
  background-position: -1429px -1039px;
}

.sprite-play {
  width: 29px;
  height: 29px;
  background-position: -1460px -1065px;
}

.sprite-read-comment {
  width: 26px;
  height: 24px;
  background-position: -1489px -1094px;
}

.sprite-rebenok {
  width: 25px;
  height: 25px;
  background-position: -1515px -1118px;
}

.sprite-redakt-profile {
  width: 18px;
  height: 18px;
  background-position: -1540px -1143px;
}

.sprite-see-profile {
  width: 28px;
  height: 28px;
  background-position: -1558px -1161px;
}

.sprite-stop {
  width: 29px;
  height: 29px;
  background-position: -1586px -1189px;
}

.sprite-strelka1 {
  width: 28px;
  height: 13px;
  background-position: -1615px -1218px;
}

.sprite-strelka2 {
  width: 28px;
  height: 13px;
  background-position: -1643px -1231px;
}

.sprite-strelka3 {
  width: 28px;
  height: 13px;
  background-position: -1671px -1244px;
}

.sprite-u1 {
  width: 118px;
  height: 118px;
  background-position: -1699px -1257px;
}

.sprite-u2 {
  width: 117px;
  height: 118px;
  background-position: -1817px -1375px;
}

.sprite-u3 {
  width: 118px;
  height: 118px;
  background-position: -1934px -1493px;
}

.sprite-u4 {
  width: 118px;
  height: 118px;
  background-position: -2052px -1611px;
}

.sprite-u5 {
  width: 118px;
  height: 118px;
  background-position: -2170px -1729px;
}

.sprite-u6 {
  width: 118px;
  height: 118px;
  background-position: -2288px -1847px;
}

.sprite-udobnoe-vremya {
  width: 28px;
  height: 30px;
  background-position: -2406px -1965px;
}

.sprite-user-girl {
  width: 20px;
  height: 21px;
  background-position: -2434px -1995px;
}

.sprite-user-man {
  width: 20px;
  height: 21px;
  background-position: -2454px -2016px;
}

.sprite-vash-otvet {
  width: 24px;
  height: 23px;
  background-position: -2474px -2037px;
}

.sprite-vash-otvet-white {
  width: 24px;
  height: 23px;
  background-position: -2498px -2060px;
}

.sprite-vibor-uslug {
  width: 26px;
  height: 26px;
  background-position: -2522px -2083px;
}

.sprite-vixod {
  width: 17px;
  height: 22px;
  background-position: -2548px -2109px;
}

.sprite-zayavka {
  width: 18px;
  height: 27px;
  background-position: -2565px -2131px;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(231, 255, 0, 0.3);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #F05A29;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3DB5D8;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
.well{
  max-width: 768px;
  margin: 0 auto;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


/* Additional approximation for sptires */
.big-car {
  margin-bottom: -4px; margin-right: 6px;
}

.kuzov-work {
  margin-bottom: -9px; margin-right: 6px; margin-top: -4px;
}

.metro {
  margin-right:2px; margin-bottom:-2px;
}

.otv-na-zayavku {
  margin-top: -13px; margin-bottom: -4px; margin-right:5px;
}

.strelka1 {
  float:right; margin-top:5px;
}

.strelka2 {
  float:right; margin-top:5px;
}

    .relative-wrap{
      position: relative;
    }
    .absolute-wrap{
      position: absolute;
    }
    .absolute-wrap.search-wrap{
      top: -37px;
      right: 10px;
    }
    .fa.fa-search{
      padding:3px;
    }
    .search-wrap input{
      min-width: 225px;
    }
    .details{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    #productTable td.amount-responds{
      text-align: center;
      vertical-align:middle;
    }
    #productTable td{
      max-width: 200px !important;
      vertical-align: middle;
    }
    .autoservice__view, .autoservice__name, .autoservice__metro{
      float:left;
      margin-top:-4px;
    }
    .autoservice__metro{
      text-align: left;
      width:71%;
      font-size:11px;
    }
    .autoservice__name, .autoservice__metro{
    	margin-left:5px;
    }
    .autoservice__name{
      max-width: 146px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .numberofresponds{
      position: relative;
      color:white;
      font-size: 16px;
      z-index: 2;
    }
    .numberofresponds:before{
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      background: rgb(240, 90, 41);
      top: -20px;
      margin-left: 50%;
      border-radius: 53px;
      z-index: -1;
      left: -20px;
      margin-top: 107%;
    }
    /*.amount-responds:after{
      position: absolute;
      content: '';
      width:25px;
      height: 25px;
      background: rgba(252,176,64,0.7);
      border-radius: 25px;
      top:9.75px;
      left:50%;
      z-index:0;
      margin-left: -12.6px;
    }*/
    .comment-area label{
      font-size:23px;
    }
    .add-auto{
      margin:5px 0;
      text-align: center;
      color: #006687;
      font-size:17px;
    }
    .add-auto button{
      width:43px;
      padding:7px 0;
    }
    .sort-names i{
      color: #647684;
    }
    .sort-names a{
      font-size: 15px;
    }
    .link-backtosite{
      text-align: right;
      margin-top:15px;
    }
    .link-backtosite a{
      background: #1d75bd;
      color:white;
      padding:8px;
    }
    .nav .btn-link{
      margin-left:2px;
    }
    .nav-tabs>li>a.itab-blue, .nav-tabs>li.active>a.itab-blue{
      background:#00a79d;
      color:white;
    }
    .nav-tabs>li>a.itab-green, .nav-tabs>li.active>a.itab-green{
      background:#23ae6a;
      color:white;
    }
    .nav-tabs>li>a.itab-orange, .nav-tabs>li.active>a.itab-orange{
      background:#fcb040;
      color:black;
    }
    #navigation.nav-tabs>li.active>a{
      margin-top:-6px;
      padding-bottom: 13px;
      padding-top: 13px;
    }

    /* new */
    .sort-names a i{
      margin-left:5px;
    }
    .sortOrder:after{
        content: "\25b2";
    }
    .sortOrder.reverse:after{
        content: "\25bc";
    }
    .row-hover:hover > div{
      background:#F5F5F5;
    }
    .row-hover.bg-success:hover > div{
      background:#EAFCE3;
    }
    .row-title > div{
      padding:15px 5px;
      text-align: center;
    }
    .row-hover:not(:first-child){
      border-top:1px solid #eee;
    }
    .row-hover > div:not(:nth-child(5)){
      border-right:1px solid #eee;
    }
    .row-hover > div:nth-child(6n){
      border-top:1px solid #eee;
      border-right: none !important;
    }
    .row-hover > div{
      padding:15px 5px;
      text-align: center;
    }
    .row-hover > div.toogle-action{
      padding:12px 10px;
    }

    .row-hover .sprite-comment{
      margin-bottom: -7px;
    }
    .main-panel.panel{
  border:none;
}
#navigation + .tab-content{
  border:1px solid #ddd;
}
.mynav .navbar-brand{
  padding:0;
}
.wrapper-part{
  padding-top:0;
}
.input-xs {
    height: 27px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; 
    }

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 27px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
.mynav{
  border-bottom: 2px solid #ddd;
}
.tabs-left{
  border:none;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus{
  background: #5bc0de;
  color:white;
}
.bottom-button{
  padding-top:15px;
}
.mynav li{
  padding:15px;
}
.mynav img{
  padding-top:5px;
  max-width:75px;
}
img{
  max-width:100%;
}
*,h1,h2,h3,h4,h5{
  font-family:'Roboto';
  font-weight: 300;
}
.btn-icons{
  width:27px;
  height:27px;
  float:left;
}
.condensted{
    margin: 0px auto !important;
    max-width: 768px !important;
}
.partial-view{
  /*padding-top:25px;*/
}
.fa__text{
  margin:-4px 5px -1px 0;
}
.fa__type{
	margin:-17px 5px -6px 0px;
}
.active-buttons button{
    padding: 0px;
    background: transparent;
}
.respondactive > div{
  padding:15px 5px;
}
.header{
  padding:40px 0;
}
.autodescription .col-md-4{
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
}
.autodescription .col-md-4:nth-child(3n){
  border-right:none;
}
.autodescription .col-md-4 label{
  color: #c1c1c1;
}
ul.checkbox-grid{
  padding:0 15px;
}
.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
    position: relative;
}
.checkbox-grid li input{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
}
.checkbox-grid li label{
	padding-left: 18px;
	vertical-align: top;
	margin-top: -0.5px;
  cursor: pointer;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border:none;
  border-right: 10px solid #5cc0de;
  width: 320px;
  padding-bottom:52px;
  position:relative;
}

.tabs-left > .nav-tabs:after{
  position:absolute;
  content:'';
  width:100%;
  height:65px;
  background:white;
}
.tabs-left .form-group{
  margin-bottom:0;
  padding-top:10px;
}

/*.tabs-left > .tab-content{
  float:left;
  width: calc(100% - 320px - 20px);
}*/
.tabs-left > .tab-content{
  border-right: 10px solid rgb(92, 192, 222);
  border-top: 10px solid rgb(92, 192, 222);
  border-bottom: 10px solid rgb(92, 192, 222);
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #5cc0de;
  border-right-color: #5cc0de;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
 border-left-color: #ffffff;
}

.photo-cube{
  margin:15px;
}
.panel-default>.panel-heading{
  background: #DCE3EB;
}
.panel-default  .panel-title{
  color: #333;
}
.panel-info  .panel-title{
  color: #fff;
}
.panel-success .panel-title{
  color: #fff;
}
.panel-success{
  border-color:#eee;
  box-shadow: none;
}
.panel-warning .panel-title{
  color: #fff;
}
.panel-title{
  color:white;
}
.create-auto:hover{
  cursor:pointer;
}
.panel a:hover, .panel a:active{
  text-decoration:none;
}
.btn-fixed{
  z-index: 10;
}
.answers{
  float:right;
  margin-right:5px;
  margin-top:3px;
}
.bordered{
	padding: 15px;
	border: 1px solid #ddd;
	margin-bottom:15px;
}
.bordered h3{
	margin:10px 0;
}
.matop15{
	margin-top:15px;
}
.answers{
	float:right;
	margin-right:5px;
}
    .autoservice__view, .autoservice__name, .autoservice__metro{
      float:left;
      margin-top:-4px;
    }
.autoservice__metro{
      width:71%;
      text-align: left;
    }
    .autoservice__name, .autoservice__metro{
    	margin-left:5px;
    }
.panel-title{
  color:white;
}
.create-auto:hover{
	cursor:pointer;
}
.panel a:hover, .panel a:active{
	text-decoration:none;
}
.btn-fixed{
	position: fixed;
	top: 165px;
  left: 25%;
  margin-left: 37px;
  border-radius: 0;
}
.row-hover .col-lg-3,.row-hover .col-lg-2,.row-hover .col-lg-5,.row-hover .col-lg-4{
	height:60px;
}
.row-hover .btn{
	border-radius:0;
}
.row-hover:hover{
	cursor:pointer;
}
button.close{
  margin:-5px 0 0 10px;
}
.respond-status{
  text-align: center;
}
.respond-status span{
	color: white;
	padding: 5px 8px;
  font-size: 14px;
}
.success-status{
	background:#019444;
}
.viewed-status{
	background:#1d75bd;
}
.pending-status{
	background:#58595b;
}
.panel-title{
  color:white;
}
button.close{
  margin:-5px 0 0 10px;
}

.container{
  min-width: 0px;
}

.sprite-foto input{
  filter: alpha(opacity=0);
  opacity: 0;
  height: 100%;
}

.sprite-otv-na-zayavku{
  margin-bottom: -7px;
}

 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

    .relative-wrap{
      position: relative;
    }
    .absolute-wrap{
      position: absolute;
    }
    .absolute-wrap.search-wrap{
      top: -37px;
      right: 10px;
    }
    .fa.fa-search{
      padding:3px;
    }
    .search-wrap input{
      min-width: 225px;
    }
    .details{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .amount-responds{
      text-align: center;
      position: relative;
    }

    /*.amount-responds:after{
      position: absolute;
      content: '';
      width:25px;
      height: 25px;
      background: rgba(252,176,64,0.7);
      border-radius: 25px;
      top:3px;
      left:50%;
      z-index:0;
      margin-left: -12px;
    }*/
    .comment-area .sprite-comment{
      margin-bottom: -4px;
      margin-right: 5px;
    }
    .fa.fa-search{
      padding:3px;
    }
    .pab20{
      padding-bottom: 20px;
    }
    .sort-names a{
      font-size: 15px;
    }
    .link-backtosite{
      text-align: right;
      margin-top:15px;
    }
    .link-backtosite a{
      background: #1d75bd;
      color:white;
      padding:8px;
    }
    .nav .btn-link{
      margin-left:2px;
    }

    .nav-tabs>li>a.itab-blue, .nav-tabs>li.active>a.itab-blue{
      background:#00a79d;
      color:white;
    }
    .nav-tabs>li>a.itab-green, .nav-tabs>li.active>a.itab-green{
      background:#23ae6a;
      color:white;
    }
    .nav-tabs>li>a.itab-orange, .nav-tabs>li.active>a.itab-orange{
      background:#fcb040;
      color:black;
    }
    #navigation.nav-tabs>li.active>a{
      margin-top:-6px;
      padding-bottom: 13px;
      padding-top: 13px;
    }
    .row-hover:hover > div{
      background:#F5F5F5;
    }
    .row-title{
      border-top:6px solid #eee;
    }
    .row-title > div{
      padding:15px 5px;
      text-align: center;
    }
    .row-hover:not(:first-child){
      border-top:1px solid #eee;
    }
    .row-hover > div:not(:nth-child(4)){
      border-right:1px solid #eee;
    }
    .row-hover > div:last-child{
      /*border-top:2px solid #3c9a5f;*/
      border-right: none !important;
    }
    .row-hover > div{
      padding:15px 5px;
      text-align: center;
    }
    .row-hover > div{
      padding:15px 5px;
    }
input[switch] {
  display: none;
}
input[switch] + label {
  font-size: 1em;
  line-height: 1;
  width: 4.3rem;
  height: 2rem;
  background-color: #ddd;
  background-image: none;
  border-radius: 2rem;
  padding: 0.16667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
  font-family: inherit;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
input[switch] + label:before {
  /* Label */
  text-transform: uppercase;
  color: #b7b7b7;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-family: FontAwesome, inherit;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.74rem;
  position: absolute;
  right: 0.21667rem;
  margin: 0.21667rem;
  top: 0;
  text-align: center;
  min-width: 1.66667rem;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
input[switch] + label:after {
  /* Slider */
  content: '';
  position: absolute;
  left: 0.16667rem;
  background-color: #f7f7f7;
  box-shadow: none;
  border-radius: 2rem;
  height: 1.66667rem;
  width: 1.66667rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
input[switch]:checked + label {
  background-color: lightblue;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.2));
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) inset;
}
input[switch]:checked + label:before {
  color: #fff;
  content: attr(data-on-label);
  right: auto;
  left: 0.21667rem;
}
input[switch]:checked + label:after {
  left: 2.36667rem;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

input[switch="bool"] + label {
  background-color: #ee6562;
}
input[switch="bool"] + label:before {
  color: #fff !important;
}
input[switch="bool"]:checked + label {
  background-color: #BCE954;
}
input[switch="bool"]:checked + label:before {
  color: #fff !important;
}

input[switch="default"]:checked + label {
  background-color: #a2a2a2;
}
input[switch="default"]:checked + label:before {
  color: #fff !important;
}

input[switch="success"]:checked + label {
  background-color: #BCE954;
}
input[switch="success"]:checked + label:before {
  color: #fff !important;
}

input[switch="warning"]:checked + label {
  background-color: gold;
}
input[switch="warning"]:checked + label:before {
  color: #fff !important;
}
#switch1 + label{
  margin-bottom:-5px;
}
#productTable{
  width:100% !important;
}
    .sortOrder:after{
        content: "\25b2";
    }
    .sortOrder.reverse:after{
        content: "\25bc";
    }
.main-panel.panel{
  border:none;
}
#navigation + .tab-content{
  border:1px solid #ddd;
}
.mynav .navbar-brand{
  padding:0;
}
.input-xs {
    height: 27px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; 
    }

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 27px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
.mynav{
  border-bottom: 2px solid #ddd;
}

.bottom-button{
  padding-top:15px;
}
.mynav li{
  padding:15px;
}
.mynav img{
  padding-top:5px;
  max-width:75px;
}
*{
  font-family:'Roboto';
  font-weight: 300;
}
.btn-icons{
  width:31px;
  height:31px;
  float:left;
}
.panel-info.panel-request{
  border-color:#00A79D; 
}
.panel-info.panel-request > .panel-heading{
  background: #00A79D;
  border-color:#00A79D;
}

.panel-info.panel-main{
  border-color:transparent;
}

.panel-info.panel-main > .panel-heading{
  background: transparent;
  border-color: transparent;
  border-bottom: 3px solid #eee;
}

.panel-info.panel-main > .panel-heading > .panel-title{
  font-size: 23px;
  
  text-transform: uppercase;
  color: #59595b;
}

.panel-info.panel-sub{
  border-color:transparent;
}

.panel-info.panel-sub > .panel-heading{
  background: transparent;
  border-color: transparent;
}

.panel-info.panel-sub .panel-title{
  text-transform: uppercase;
  color: #59595b;
  font-size:23px;
}

.panel-warning{
  border-color:transparent;
  margin-top:0;
}

.panel-warning > .panel-heading{
  background: transparent;
  border-color: transparent;
}

.panel-warning .panel-title{
  text-transform: uppercase;
  color: #59595b;
  font-size:23px;
}

/*.panel-info.panel-main{
  border-color: #eee;
}

.panel-info.panel-main > .panel-heading{
  background: #eee;
  border-color:#eee;
}

.panel-info.panel-main .panel-title{
  text-transform: uppercase;
}*/
.condensted{
    margin: 0px auto !important;
    max-width: 768px !important;
}
.partial-view{
  /*padding-top:25px;*/
}
.partial-view .panel:not(:first-child):not(.panel-warning){
  margin:25px auto !important;
}

.fa__text{
  margin:-4px 5px -1px 0;
}
.fa__type{
	margin:-17px 5px -6px 0px;
}
.active-buttons button{
    padding: 0px;
    background: transparent;
}
.header{
  padding:40px 0;
}
.respondactive > div{
  padding:15px 5px;
}
.panel-body.panel-xs{
  padding:0 15px;
}
.respondactive:not(:first-child){
  border-top:1px solid #3DB5D8;
}
.autodescription .col-md-4{
  border-bottom:1px solid #ddd;
}
.autodescription .col-md-4 label{
  color: #c1c1c1;
}
ul.checkbox-grid{
  padding:0 15px;
}
*,h1,h2,h3,h4,h5{
  font-family:'Roboto';
  font-weight: 300;
}
.active-buttons button{
    width:2.1em;
    height: 2.1em;
    margin-right:3px;
}
.fa__text{
  padding-right:5px;
}
.header{
  padding:40px 0;
}
.auto-class > .panel-body{
  padding:0;
}
.autodescription .col-md-4{
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.autodescription .col-md-4 label{
  color: #c1c1c1;
}
.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
    position: relative;
}
.checkbox-grid li input{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
}
.checkbox-grid li label{
    padding-left: 18px;
    vertical-align: top;
    margin-top: -0.5px;
}
.top-logo-head{
  padding:20px 6px;
}

.top-logo-head img{
  max-width: 322px;
}

.top-logo-head > div{
  position: relative;
  margin-top:30px;
}

.top-logo-head > div:last-child span{
  color:#00a79d;
}

.top-logo-head span.sprite{
  position: absolute;
  top: -2px;
  left: -23px;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border:none;
  border-right: 10px solid #5cc0de;
  width: 320px;
  padding-bottom:52px;
  position:relative;
}

.tabs-left > .nav-tabs:after{
  position:absolute;
  content:'';
  width:100%;
  height:65px;
  background:white;
}
.tabs-left .form-group{
  margin-bottom:0;
  padding-top:10px;
}
.tabs-left > .tab-content{
  border-right: 10px solid rgb(92, 192, 222);
  border-top: 10px solid rgb(92, 192, 222);
  border-bottom: 10px solid rgb(92, 192, 222);
}


.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #5cc0de;
  border-right-color: #5cc0de;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus{
  background: #5bc0de;
  color:white;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
 border-left-color: #ffffff;
}

    *{
	  font-family:'Roboto';
	  font-weight: 300;
	}
	.requests{
		padding-top:15px;
	}
    button.close {
    margin: -5px 0 0 10px;
}

        *{
    	  font-family:'Roboto';
    	  font-weight: 300;
    	}
    	#productTable{
    		width:100%;
    	}
    	.search-form input{
    		font-size: 12px;
    	}
        .top-header div{
            text-align: center;
        }
        .top-header div:first-child{
            padding-top:40px;
        }
        .top-header div:nth-child(3){
            padding-top:40px;
        }
        ng-view > .container-fluid{
            /*background: #eee;*/
        }
        button.close {
    margin: -5px 0 0 10px;
}

            .my-drop-zone { border: dotted 3px lightgray; }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }

            html, body { height: 100%; }

            canvas {
                background-color: #f3f3f3;
                -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
                -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
                box-shadow: 3px 3px 3px 0 #e3e3e3;
                border: 1px solid #c3c3c3;
                height: 100px;
                margin: 6px 0 0 6px;
            }

.toggle-menu{
  display: none;
}
.mobile-tabs-hide{

}
.mobile-tabs-show{
  display: none;
}
.mobile-request{
  background: #fff;
  margin: 20px;
  padding: 10px;
  display: none;
}
.mobile-request.ma0{
  margin:20px 0;
}
.mobile-request .amount-responds{
margin-right: 17px;
margin-top: 9px;
}

.mobile-request .sprite-comment{
  margin-bottom: -5px;
  margin-right: 5px;
}

.mobile-request .table-type, .mobile-request .table-name{
  margin-left:0;
}

.mobile-request__details{
  background: #fff;
  padding: 5px;
  margin: 5px 0;
}
.pat10{
  padding-top:10px;
}

.navbar-nav{
  float:right;
}
.mobile-request .clearfix{
  padding:5px;
}
.mobile-request__name{
  color:#00526e;
  font-size: 17px;
}
.mobile-request__type{
  font-size: 12px;
  padding-left: 26px;
}
.mobile-request .date{
  font-size: 13px;
  padding-top: 7px;
}
.navbar-collapse.collapse{
  display:block !important;
}
@media (max-width: 1210px) { 
  .information{
    display: none;
  }
  .leave-request .choose-work{
    float: none;
    margin: 0 auto;
    display: block;
  }
  .leave-request #request1, .leave-request #request2, .leave-request #request3, .leave-request #request4{
    float:none;
    margin: 0 auto;
    display: block;
    min-width: 0;
  }
}

.position-relative{
  position: relative;
}

@media (max-width: 1180px) { 
  .absolute-wrap.search-wrap{
    display: none;
  }
  .top-wrapper .container{
    width:100%;
    padding: 0;
  }
}
@media (max-width: 1024px) { 
  .mobile-tabs-hide{
    display: none;
  }
  .mobile-tabs-show{
    display: block;
  }
  .mobile-request{
    display: block;
  }
  .mobile-request-hide{
    display: none;
  }
  .navbar-collapse.in{
    border: none;
    float:right;
  }
  .tabs-left{
    padding: 0;
  }
  .container > .navbar-header{
    float:left;
  }

}
@media (max-width: 992px) { 
  .choose-work__wrap{
    padding: 5px;
  }
}

@media (max-width: 879px) { 
    .b-first-block .pull-left, .b-first-block .pull-right , .b-second-block .pull-left, .b-second-block .pull-right{
      float: none!important;
      width:100% !important;
      text-align: left;
      max-width: 2000px !important;
    }
    .b-second-block .pull-left{
          margin-left: 0px;
    }
    .pab20{
      padding: 20px 0;
    }
  }

@media (max-width: 768px) { 
    .container-fluid.leave-request{
      padding: 0;
    }
    .container-fluid{
      padding: 0;
    }
    .user-class .col-sm-9{
      padding: 0;
    }
    .top-logo-head{
      margin: 0 auto;
      max-width: 560px;
    }
    .btn-fixed{
      left:0;
      margin-left: 0;
    }

    #navigation.nav-tabs > li {
        float:none;
    }
    .choose-work__wrap{
      width:100%;
      max-width: 1000px;
    }
    .toggle-menu{
        display: block;
        width: 100%;
        padding: 14px;
        cursor: pointer;
        text-align: center;
        background: #1d75bd;
        color:white;
    }
    .b-bonus{
      display: none;
    }
    .mynav img{
      margin-left:12px;
    }
    .nav-tabs > li > a{
      margin:0;
    }
    #navigation.nav-tabs > li.active > a{
      margin:0;
      padding: 10px;
    }
    .checkbox-grid li{
      width:33.3%;
    }
    .user-class > .panel-body{
      padding: 0;
      overflow: hidden;
    }
    #navigation + .tab-content{
      border:none;
    }
}
@media (max-width: 568px) { 
    .checkbox-grid li{
      width:50%;
    }
    .top-logo-head > *{
      float:none !important;
      width:100%;
      text-align: center;
    }
    .top-logo-head > div{
      margin: 0;
    }
    .sweet-alert .sa-icon.sa-warning .sa-body{
      height: 29px;
    }
    .sweet-alert .sa-icon.sa-warning{
      display: block;
      margin: 0px auto;
      width: 61px;
      height: 61px;
    }
    .sweet-alert h2{
      margin:5px 0;
    }
}
@media (max-width: 480px) { 
    .checkbox-grid li{
      width:100%;
    }
    .btn-group{
      width:100%;
    }
    .btn-group label{
      width:100%;
    }
  }
.alert{
  position:fixed;bottom:0;right:0;display:none;
}
.alert strong{
  margin-right: 8px;
}




.button-menu button.btn{
  width:100%;
  text-align: left;
  position: relative;
  background: #9aa6b6;
  color: white;
  margin: 2px 0;
  border: none;
  box-shadow: none;
}

.button-menu button.btn.active{
  background: #53bbbc;
}

.button-menu i{
  position: absolute;
}

.sprite-redakt-profile{
  bottom: 9px;
}
.sprite-moi-zayavki{
  bottom: 7px;
}
.button-menu button span{
  padding-left:27px;
}
.panel-info{
  border-color: #00A79D;
}
.panel-info.nosubtype{
  border-color:transparent;
  margin-top:0 !important;
}
.panel-info > .panel-heading{
  background-color:#00a79d;
  border-color:#00a79d;
}

.panel-password{
  border-color: #27aae2;
}
.panel-password > .panel-heading{
  background-color:#27aae2;
  border-color:#27aae2;
}

.b-product{
  display: flex;
  height: auto;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 40px;
}
.b-product__child{
  display: block;
  width:225px;
  padding: 10px;
  transition: all .5s;
}

.top-back-site{
  border-bottom: 2px solid rgb(240, 90, 41);
  padding: 3px 0px;
}

.top-back-site a{
  position: relative;
  color: grey;
}

.top-back-site span{
  position: absolute;
  top: 2px;
  left: -22px;
}


.top-wrapper{
  border-top:10px solid #ddd;
  background-color: #eee;
  padding-top:30px;
}

.navbar{
  margin-bottom: 0;
}

.b-bonus{
  background: white;
  padding: 10px 0 0;
}

.b-bonus p{
  text-align: left;
  margin: 0.8em;
}

.header-for .pull-left{
  position: relative;
  padding-left:25px;
}

.header-for .pull-left p{
  font-size:19px;
  text-transform: uppercase;
}

.header-for .pull-left span{
  position: absolute;
  top:-3px;
  left:0;
}

.header-for .pull-right{
  max-width: 300px;
}

.sort-names th{
  background: #bcc3c9;
  color: #647684;
}

.sort-names th a{
  color: #647684;
}

.table-lookprice td{
  background: #fff;
}


.b-first-block > .pull-right, .b-second-block > .pull-right{
    border: 1px solid rgb(204, 204, 204);
    position: relative;
    border-radius: 4px;
    padding: 20px 5px 20px 30px;
}

.b-second-block{
  padding-top:10px;
}

.b-second-block > .pull-right{
  width:40%;
  max-width: 210px;
}

.b-second-block > .pull-left{
  width:60%;
}

.b-second-block > .pull-left .input-group-btn > .btn{
  background: transparent;
  padding: 3px 4px 0px;
}

.b-second-block > .pull-left .input-group-btn{
  vertical-align: top;
}

.b-first-block > .pull-right i, .b-second-block > .pull-right i{
  position: absolute;
  top: 12px;
  left: 8px;
}

.b-second-block > .pull-right i{
  top:43px;
}

.b-first-block > .pull-right li, .b-second-block > .pull-right li{
  width:100%;
}

.b-second-block .col-md-6 > p:first-child{
  float:left;
  padding: 8px;
}

.table-type, .table-name{
  float:left;
  width:75%;
  margin-left: 5px;
  margin-bottom: -3px;
}

.table-name{
  text-transform: uppercase;
  font-size: 15px;
}

.table-type{
  font-size: 14px;
  color: rgb(240, 90, 41);
}

.h-sprite{
  margin-bottom: -7px;
  margin-right: 5px;
}

.h-sprite-2{
  margin-bottom: -8px;
  margin-right: 5px;
}

.h-sprite-3{
  margin-bottom: -6px;
  margin-right: 5px;
}

.full-width img{
  width:100%;
}
.header-time{
  font-size:23px;
  text-transform: uppercase;
}
.addi-info{
  color: #59595b;
  padding-top:3px;
}
.header-time i{
  margin-bottom: -6px;
}
footer{
  padding: 30px 0;
}

footer a{
  display: block;
  text-align: left;
  color: grey;
}

footer img{
  margin-top:10px;
}

footer a:hover{
  color:grey;
}

#singleTable{
  position: relative;
}

.nomargin{
  margin: 0 !important;
}

.pa0.container-fluid{
  padding: 0;
}