<div ng-controller="productCtrl" class="partial-view">
    <ng-spinner></ng-spinner>
    <div class="alert alert-success" id="a-request-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedRequest.name}}
    </div>
    <div class="alert alert-danger" id="a-request-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedRequest.name}}
    </div>
    <div class="alert alert-success" id="a-request-complete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы завершили заявку {{updatedRequest.name}}!
    </div>
    <div class="alert alert-success" id="a-request-restore" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы возобновили заявку {{updatedRequest.name}}!
    </div>
    <div class="header-for mobile-request-hide" ng-show="allitems">
        <div class="pull-left">
            <p><span class="sprite sprite-zayavka"></span>Мои заявки</p>
        </div>
        <div class="pull-right">
            <div class="input-group search-form input-group-xs">
              <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
        </div>
    </div>
    <table id="productTable" style="width:100%;" class="table table-hover table-responsive mobile-request-hide table-bordered table-lookprice" ng-show="allitems" >
        <tr class="sort-names">
            <th><a href="" ng-click="order('type')">Заявка<i class="fa" ng-show="predicate === 'type'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'type'" ></i></a></th>
            <th><a href="" ng-click="order('details.comment')">Комментарий<i class="fa" ng-show="predicate === 'details.comment'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'details.comment'" ></i></a></th>
            <th><a href="" ng-click="order('responds.length')">Кол-во откликов<i class="fa" ng-show="predicate === 'responds.length'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'responds.length'" ></i></a></th>
            <th><a href="" ng-click="order('date')">Дата<i class="fa" ng-show="predicate === 'date'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'date'" ></i></a></th>
            <th><a href="">Управление</a></th>
        </tr>
        <tr ng-repeat="item in products | filter:query | orderBy:predicate:reverse" ng-class="{'success':item.completed}" >
            <td ng-click="viewItem(item)"><span class="sprite pull-left" ng-class="{'sprite-m1': item.type == 'Ногтевой сервис', 'sprite-m2': item.type == 'Парикмахерские услуги', 'sprite-m3': item.type == 'Косметология','sprite-m4': item.type == 'Визаж','sprite-m5': item.type == 'Массаж' ,'sprite-m6': item.type == 'Татуаж'}"></span><div class="table-name">{{item.name}}</div><div class="table-type">{{item.type}}</div></td>
            <td ng-click="viewItem(item)" class="details">{{item.details.comment}}</td>
            <td ng-click="viewItem(item)" class="text-center"><span class="numberofresponds">{{item.responds.length}}</span></td>
            <td ng-click="viewItem(item)" class="date">{{formatDate(item.date)}}</td>
            <td class="active-buttons">
                <button ng-click="viewItem(item)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="sprite sprite-eye"></i>
                </button>
                <button ng-click="editItem(item)" ng-disabled="item.responds.length > 0" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="sprite sprite-edit"></i>
                </button>
                <button ng-click="isdeleteProduct(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="sprite sprite-delete"></i>
                </button>
                <button ng-click="completeItem(item,item.type,item.auto,item.responds)" class="btn" data-toggle="tooltip" title="Завершить">
                    <i class="sprite sprite-play" ng-if="!item.completed"></i>
                    <i class="sprite sprite-stop" ng-if="item.completed"></i>
                </button>
            </td>
        </tr>
    </table>
    <h4 class="mobile-request text-center" ng-if="allitems">Мои заявки</h4>
    <div class="mobile-request" ng-repeat="item in products" ng-if="allitems" >
        <div class="clearfix" ng-click="viewItem(item)">
            <div class="pull-left">
            <div class="table-name">{{item.name}}</div>
            <div class="table-type">{{item.type}}</div>
            </div>
            <div class="amount-responds pull-right">
                <span><span class="numberofresponds">{{item.responds.length}}</span></span>
            </div>
        </div>
        <div class="clearfix pat10" ng-click="viewItem(item)" ng-show="item.details.comment">
            <div class="pull-left">
                <i class="sprite sprite-comment"></i><span>Комментарий</span>
            </div>
        </div>
        <div class="clearfix mobile-request__details" ng-click="viewItem(item)" ng-show="item.details.comment">
            {{item.details.comment  || 'Без комментариев'}}
        </div>
        <div class="clearfix date">
            {{formatDate(item.date)}}
        </div>
        <div class="clearfix active-buttons">
            <div class="pull-left">
                <button ng-click="viewItem(item)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="sprite sprite-eye"></i>
                </button>
                <button ng-click="editItem(item)" ng-disabled="item.responds.length > 0" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="sprite sprite-edit"></i>
                </button>
                <button ng-click="isdeleteProduct(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="sprite sprite-delete"></i>
                </button>
                <button ng-click="completeItem(item,item.type,item.auto,item.responds)" class="btn" data-toggle="tooltip" title="Завершить">
                    <i class="sprite sprite-play" ng-if="!item.completed"></i>
                    <i class="sprite sprite-stop" ng-if="item.completed"></i>
                </button>
            </div>
            <div class="pull-right">
                <span class="sprite pull-left" ng-class="{'sprite-m1': item.type == 'Ногтевой сервис', 'sprite-m2': item.type == 'Парикмахерские услуги', 'sprite-m3': item.type == 'Косметология','sprite-m4': item.type == 'Визаж','sprite-m5': item.type == 'Массаж' ,'sprite-m6': item.type == 'Татуаж'}"></span>
            </div>
        </div>
    </div>
    <div id="singleTable" class="table table-striped table-bordered table-hover" ng-if="!allitems">
            <button ng-click="viewItem(item)" class="btn btn-xs btn-primary btn-icons btn-fixed" style="position:fixed;">
                        <i class="fa fa-arrow-left"></i>
            </button>
        <div class="container-fluid">


  <div class="panel panel-success" ng-if="!allitems && !startEdit && activeresponds.length > 0">
    <div class="panel-heading" role="tab" id="headingTwo">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="panel-title">
          <i class="sprite sprite-otv-na-zayavku"></i> Ответы на заявку<span class="strelka3"></span><span class="answers">Ответов: {{activeresponds.length}}</span>
          </h4>
        </a> 
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="container-fluid mobile-request-hide">
            <div class="row row-title">
                <div class="col-md-4">
                    Название компании
                </div>
                <div class="col-md-2">
                    Комментарий
                </div>
                <div class="col-md-2">
                    Стоимость
                </div>
                <div class="col-md-2">
                    Дата заявки
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row row-hover" ng-repeat="item in activeresponds" ng-class="{'bg-success': item.approved}">
                <div class="col-md-4" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    <div class="autoservice__view"><span class="sprite sprite-metka"></span></div>
                    <div class="autoservice__name"><a target="_blank" title="{{item.autoservice.name}}" href="{{item.autoservice.link}}">{{item.autoservice.name}}</a></div>
                    <div class="autoservice__metro"><span class="metro"></span>{{item.autoservice.metro}}</div>
                </div>
                <div class="col-md-2" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    <span class="sprite sprite-comment"></span>
                    Прочесть
                </div>
                <div class="col-md-2" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    {{item.cost | currency}}
                </div>
                <div class="col-md-2 date" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    {{formatDate(item.date)}}
                </div>
                <div class="col-md-2 toogle-action">
                    <button ng-class="{'btn-success': (!item.approved),'btn-danger': (item.approved)}" ng-click="approveItem(item,item.autoservice)" class="btn">
                                <span ng-if="!item.approved">Принять</span>
                                <span ng-if="item.approved">Отклонить</span>
                    </button>
                </div>
                <div class="col-lg-12" ng-if="toogleAutoservice[$index]">
                    {{item.description}}
                </div>
            </div> 
        </div>
        <div class="mobile-request" ng-repeat="item in activeresponds">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="autoservice__view"><span class="sprite sprite-metka"></span></div>
                    <div class="autoservice__name"><a target="_blank" title="{{item.autoservice.name}}" href="{{item.autoservice.link}}">{{item.autoservice.name}}</a></div>
                    <div class="autoservice__metro"><span class="metro"></span>{{item.autoservice.metro}}</div>
                </div>
                <div class="pull-right">
                    <span class="mobile-request__name">{{item.cost | currency}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class="pull-left">
                    Комментарий
                </div>
                <div class="pull-right">
                    
                </div>
            </div>
            <div class="clearfix mobile-request__details">
                {{item.description || 'Без комментариев'}}
            </div>
            <div class="clearfix">
                <div class="pull-left toogle-action" >
                    <button ng-class="{'btn-success': (!item.approved),'btn-danger': (item.approved)}" ng-click="approveItem(item,item.autoservice)" class="btn btn-xs">
                                <span ng-if="!item.approved">Принять</span>
                                <span ng-if="item.approved">Отклонить</span>
                    </button>
                </div>
                <div class="pull-right date">
                    {{formatDate(item.date)}}
                </div>
            </div>
        </div>
    </div>
</div>




    <div id="request{{$index+1}}"  ng-repeat="type in salon_types" ng-if="mainproduct.type == requests[$index]" ng-init="rootIndex = $index">
        <div class="panel panel-info panel-main">
          <div class="panel-heading">
            <h2 class="panel-title"><i class="sprite sprite-o{{$index+1}}"></i>{{mainproduct.type}}</h2>
          </div>
          <div class="panel-body">
                <form name="workForm{{$index+1}}" novalidate>
                      <div class="panel panel-info panel-sub" ng-show="startEdit || hidesub(mainproduct.salons[rootIndex][parentIndex])" ng-repeat="subtype in type" ng-init="parentIndex = $index" ng-class="{'nosubtype':!subtype.title}">
                            <div class="panel-heading" role="tab" id="mend{{$index+1}}" ng-if="subtype.title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend{{$index+1}}" aria-expanded="false" aria-controls="colmend{{$index+1}}">
                                <h4 class="panel-title">
                                  {{subtype.title}}<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colmend{{$index+1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend{{$index+1}}">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in subtype.data">
                                                <label ng-hide="!startEdit && !mainproduct.salons[rootIndex][parentIndex][$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.salons[rootIndex][parentIndex][$index]" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                        <div class="form-group comment-form">
                            <p>Если вы не нашли интересующие вас услуги в списке выше, то вы можете описаь задачу своими словами. Для этого воспользуйтесь формой ниже. При необходимости вы можете прикрепить фотографии, которые помогут нашим партнерам сделать вам более точное предложение.</p>
                        </div>
                        <div class="form-group comment-area"><label><i class="sprite sprite-comment"></i>ЧТО НУЖНО СДЕЛАТЬ:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Что нужно сделать?" rows="5"> </textarea></div>
                        <div class="clearfix b-first-block">
                            <div class="form-group pull-left" ng-class="{'has-error': errorfile}">
                                <div class="row photo-cube" ng-class="{'nomargin':mainproduct.details.image.length == 0}">
                                    <div class="col-md-3" ng-repeat="i in mainproduct.details.image">
                                        <a target="_blank" href="{{baseurl}}{{i}}"><img ng-dostyle="max-width:100%; border: 1px solid;" ng-src="{{baseurl}}{{i}}" /></a>
                                        <a class="pointer" ng-click="deleteImage(i);" ng-show="startEdit">удалить</a>
                                    </div>
                                </div>
                                <div class="sprite sprite-foto" ng-hide="!startEdit">
                                <input name="name" ng-hide="!startEdit" type='file' model='mainproduct.details.image' error='errorfile' ng-model='hello_file' file-feed multiple />
                                </div>
                                <div ng-show="errorfile">
                                    <span class="help-block" ng-show="errorfile == 'Toomuch'">Не более 4 файлов</span>
                                    <span class="help-block" ng-show="errorfile == 'Toomuch1mb'">Каждый файл не более 1 мб</span>
                                    <span class="help-block" ng-show="errorfile == 'Type'">Загружать можно только картинки</span>
                                </div>
                              
                            </div>
                            <div class="pull-right">  
                                <i class="sprite sprite-master-na-dom" ></i>    
                                <ul class="checkbox-grid">
                                <li>             
                                    <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.tohome" />
                                    Выезд на дом</label>
                                </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix b-second-block">
                            <div class="row pull-left">
                                <div class="col-md-12 pab20">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-disabled="!startEdit" ng-model="mainproduct.manny" uib-btn-checkbox>
                                            <i class="sprite sprite-man h-sprite"></i><span>Мужской</span>
                                        </label>
                                        <label class="btn btn-default" ng-disabled="!startEdit" ng-model="mainproduct.girly" uib-btn-checkbox>
                                            <i class="sprite sprite-girl h-sprite-2"></i><span>Женский</span>
                                        </label>
                                        <label class="btn btn-default" ng-disabled="!startEdit" ng-model="mainproduct.childly" uib-btn-checkbox>
                                            <i class="sprite sprite-rebenok h-sprite-3"></i><span>Ребенок</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                <h4 class="header-time"><i class="sprite sprite-udobnoe-vremya"></i> Удобное время</h4>
                                </div>
                              <div class="col-md-6">
                              <p>с</p>
                                <p class="input-group">
                                
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-disabled="!startEdit" ng-click="open1()"><i class="sprite sprite-calendar"></i></button>
                                  </span>
                                  <input type="text" class="form-control" ng-disabled="!startEdit" uib-datepicker-popup ng-model="mainproduct.start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                </p>
                              </div>

                              <div class="col-md-6">
                              <p>до</p>
                                <p class="input-group">
                                
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-disabled="!startEdit" ng-click="open2()"><i class="sprite sprite-calendar"></i></button>
                                  </span>
                                  <input type="text" class="form-control" ng-disabled="!startEdit" uib-datepicker-popup ng-model="mainproduct.end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                </p>
                              </div>
                            </div>
                            <div class="form-group pull-right clearfix">
                                <i class="sprite sprite-udobnoe-vremya"></i>
                                <ul class="checkbox-grid">
                                    <li>             
                                        <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.time[0]" />
                                        Утренее время</label>
                                    </li>
                                    <li>             
                                        <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.time[1]" />
                                        Дневное время</label>
                                    </li>
                                    <li>             
                                        <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.time[2]" />
                                        Вечернее время</label>
                                    </li>
                                    <li>             
                                        <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.time[3]" />
                                        Ночное время</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-if="startEdit" class="text-center bottom-button">
            <button type="submit" ng-click="updateProduct(mainproduct)"
                    class="btn btn-primary">
                Обновить
            </button>
        </div>
    </div>
    </div>
</div>
