<div ng-controller="productCtrl" class="partial-view">
    <div id="loader-wrapper" ng-show="loading" ng-init="listProducts()">
        <div id="loader"></div>
    </div>
    <div class="alert alert-success" id="a-respond-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedRespond.name}}
    </div>
    <div class="alert alert-danger" id="a-respond-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedRespond.name}}
    </div>
    <div id="addTable"  ng-show="respondview == 3" >
        <button ng-click="viewRespond(mainrespond, 1)" class="btn btn-xs btn-primary btn-icons btn-fixed"><i class="fa fa-arrow-left"></i></button>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Данные об ответе</h2>
            </div>
        <div class="panel-body">
            <form name="autoadd" novalidate>
                <div class="form-group">
                    <label>Цена</label>
                    <div class="input-group">
                    <input name="cost" class="form-control" ng-model="mainrespond.cost" />
                        <div class="input-group-addon">руб.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Комментарий</label>
                    <textarea class="form-control" ng-model="mainrespond.description" placeholder="Подробно расскажите про детали предложения" rows="5"> </textarea>
                </div>
                <div class="form-group" ng-class="{'has-error': errorfile}" ng-init="imageinit()">
                    <div class="row photo-cube" ng-class="{'nomargin':mainrespond.images.length == 0}">
                        <div class="col-md-3" ng-repeat="i in mainrespond.images">
                            <a target="_blank" href="{{baseurl}}{{i}}"><img ng-dostyle="max-width:100%; border: 1px solid;" ng-src="{{baseurl}}{{i}}" /></a>
                            <a class="pointer" ng-click="deleteImage(mainrespond.images,i);">удалить</a>
                        </div>
                    </div>
                    <div class="sprite sprite-foto" >
                    <input name="name" type='file' model='mainrespond.images' error='errorfile' ng-model='hello_file' file-feed multiple />
                    </div>
                    <div ng-show="errorfile">
                        <span class="help-block" ng-show="errorfile == 'Toomuch'">Не более 4 файлов</span>
                        <span class="help-block" ng-show="errorfile == 'Toomuch1mb'">Каждый файл не более 1 мб</span>
                        <span class="help-block" ng-show="errorfile == 'Type'">Загружать можно только картинки</span>
                    </div>
                  
                </div>
                    <div class="text-center bottom-button">
                        <button type="submit"  ng-click="updateRespond(mainrespond)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
            </form>
        </div>
        </div>
    </div>
    <div class="header-for mobile-request-hide" ng-show="respondview == 1">
        <div class="pull-left">
            <p><span class="sprite sprite-zayavka"></span>Мои ответы</p>
        </div>
        <div class="pull-right">
            <div class="input-group search-form input-group-xs">
              <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
        </div>
    </div>

    <table id="productTable" class="table table-lookprice table-bordered table-hover mobile-request-hide" ng-show="respondview == 1"> 
    <!-- просмотр всех ответов -->
        <tr class="sort-names">
            <th nowrap><a href="" ng-click="order('type')">Заявка<i class="fa" ng-show="predicate === 'type'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'type'" ></i></a></th>
            <th nowrap><a href="" ng-click="order('cost')">Стоимость<i class="fa" ng-show="predicate === 'cost'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'cost'" ></i></a></th>
            <th nowrap><a href="" ng-click="order('date')">Дата заявки<i class="fa" ng-show="predicate === 'date'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'date'" ></i></a></th>
            <th nowrap><a href="" ng-click="order('approved')">Статус заявки<i class="fa" ng-show="predicate === 'approved'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'approved'" ></i></a></th>
            <th nowrap><a href="">Управление</a></th>
        </tr>
        <tr ng-repeat="item in myresponds | filter:query |orderBy:predicate:reverse" >
            <td ng-click="viewRespond(item,2)"><span class="sprite pull-left" ng-class="{'sprite-m1': item.type == 'Ногтевой сервис', 'sprite-m2': item.type == 'Парикмахерские услуги', 'sprite-m3': item.type == 'Косметология','sprite-m4': item.type == 'Визаж','sprite-m5': item.type == 'Массаж' ,'sprite-m6': item.type == 'Татуаж'}"></span><div class="table-name">{{item.name}}</div><div class="table-type">{{item.type}}</div></td>
            <td ng-click="viewRespond(item,2)">{{item.cost | currency}}</td>
            <td ng-click="viewRespond(item,2)">{{formatDate(item.date)}}</td>
            <td class="respond-status">
            <span ng-if="item.approved" class="success-status">Одобрено</span>
            <span ng-if="!item.approved && item.viewed" class="viewed-status">Просмотрено</span>
            <span ng-if="!item.viewed && !item.approved" class="pending-status">Ожидает</span>
            <div ng-if="item.approved" ng-click="viewRespond(item,2)" style="padding-top:5px;">{{item.phone}}</div>
            </td>
            <td class="active-buttons">
                <button ng-click="viewRespond(item,2)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="sprite sprite-eye"></i>
                </button>
                <button ng-click="editRespond(item,3)" ng-disabled="item.replied" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="sprite sprite-edit"></i>
                </button>
                <button ng-click="isdeleteRespond(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="sprite sprite-delete"></i>
                </button>
            </td>
        </tr>
    </table>
    <h4 class="mobile-request text-center" ng-show="respondview == 1">Мои ответы</h4>
    <div class="mobile-request" ng-repeat="item in myresponds" ng-show="respondview == 1">
        <div class="clearfix text-center" ng-if="item.approved" ng-click="viewRespond(item,2)">
            Телефон: {{item.phone}}
        </div>
        <div class="clearfix" ng-click="viewRespond(item,2)">
            <div class="pull-left"><div class="table-name">{{item.name}}</div><div class="table-type">{{item.type}}</div>
            </div>
            <div class="pull-right">
                <span>{{item.cost | currency}}</span>
            </div>
        </div>
        <div class="clearfix pat10" ng-show="item.description" ng-click="viewRespond(item,2)">
            <div class="pull-left">
                <i class="sprite sprite-comment"></i><span>Комментарий</span>
            </div>
            <div class="pull-right date">
                {{formatDate(item.date)}}
            </div>
        </div>
        <div class="clearfix mobile-request__details" ng-show="item.description" ng-click="viewRespond(item,2)">
            {{item.description}}
        </div>
        <div class="clearfix active-buttons">
            <div class="pull-left">
                <button ng-click="viewRespond(item,2)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="sprite sprite-eye"></i>
                </button>
                <button ng-click="editRespond(item,3)" ng-disabled="item.replied" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="sprite sprite-edit"></i>
                </button>
                <button ng-click="isdeleteRespond(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="sprite sprite-delete"></i>
                </button>
            </div>
            <div class="pull-right">
                <span class="sprite pull-left" ng-class="{'sprite-m1': item.type == 'Ногтевой сервис', 'sprite-m2': item.type == 'Парикмахерские услуги', 'sprite-m3': item.type == 'Косметология','sprite-m4': item.type == 'Визаж','sprite-m5': item.type == 'Массаж' ,'sprite-m6': item.type == 'Татуаж'}"></span>
            </div>
        </div>
    </div>
    <div ng-show="respondview == 2">
        <button ng-click="viewRespond(mainrespond, 1)" class="btn btn-xs btn-primary btn-icons btn-fixed" ng-show="respondview == 2">
            <i class="fa fa-arrow-left"></i>
        </button>
        <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h2 class="panel-title">Данные ответа на заявку</h2>
                  </div>
                  <div class="panel-body panel-xs">
                        <table class="table table-bordered matop15 mobile-request-hide">
                        	<tr class="sort-names">
                            <th>Номер заявки</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Стоимость</th>
                            <th>Дата</th>
                            <th>Статус</th>
                            </tr>
                        <tr>
                            <td>{{mainrespond.name}}</td>
                            <td>{{mainrespond.username}}</td>
                            <td><span ng-if="mainrespond.approved">{{mainrespond.phone}}</span></td>
                            <td>{{mainrespond.cost | currency}}</td>
                            <td>{{formatDate(mainrespond.date)}}</td>
                            <td class="respond-status">            
    	                        <span ng-if="mainrespond.approved" class="success-status">Одобрено</span>
    	            			<span ng-if="!mainrespond.approved && mainrespond.viewed" class="viewed-status">Просмотрено</span>
    	            			<span ng-if="!mainrespond.viewed && !mainrespond.approved" class="pending-status">Ожидает</span>
                			</td>
                        </tr>
                        </table>
                         <div class="form-group" ng-class="{'has-error': errorfile}">
                            <div class="row photo-cube" ng-class="{'nomargin':mainrespond.images.length == 0}">
                                <div class="col-md-3" ng-repeat="i in mainrespond.images">
                                    <a target="_blank" href="{{baseurl}}{{i}}"><img ng-dostyle="max-width:100%; border: 1px solid;" ng-src="{{baseurl}}{{i}}" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-request ma0" >
                            <div class="clearfix text-center">
                                <div class="pull-left">Имя: {{mainrespond.username}}</div>
                                <div class="pull-right" ng-if="mainrespond.approved">Телефон: {{mainrespond.phone}}</div>
                            </div>
                            <div class="clearfix">
                                <div class="pull-left"><div class="table-name">{{mainrespond.name}}</div><div class="table-type">{{mainrespond.type}}</div>
                                </div>
                                <div class="pull-right">
                                   <span>{{mainrespond.cost | currency}}</span>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="pull-left date">
                                    {{formatDate(mainrespond.date)}}
                                </div>
                                <div class="pull-right">
                                    <span class="sprite pull-left" ng-class="{'sprite-m1': mainrespond.type == 'Ногтевой сервис', 'sprite-m2': mainrespond.type == 'Парикмахерские услуги', 'sprite-m3': mainrespond.type == 'Косметология','sprite-m4': mainrespond.type == 'Визаж','sprite-m5': mainrespond.type == 'Массаж' ,'sprite-m6': mainrespond.type == 'Татуаж'}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="bordered">
                        	<h3>Ваши комментарии и дополнения</h3>
                        	<textarea class="form-control" rows="5" ng-disabled="true">{{mainrespond.description}}</textarea>
                        </div>
                    </div>
        </div>


    <div id="request{{$index+1}}"  ng-repeat="type in salon_types" ng-show="mainproduct.type == requests[$index] && respondview == 2" ng-init="rootIndex = $index">
        <div class="panel panel-info panel-main">
          <div class="panel-heading">
            <h2 class="panel-title"><i class="sprite sprite-o{{$index+1}}"></i>{{mainproduct.type}}</h2>
          </div>
          <div class="panel-body">
                <form name="workForm{{$index+1}}" novalidate>
                      <div class="panel panel-info panel-sub" ng-show="startEdit || showsub(mainproduct.salons[rootIndex][parentIndex])" ng-repeat="subtype in type" ng-init="parentIndex = $index" ng-class="{'nosubtype':!subtype.title}">
                            <div class="panel-heading" role="tab" id="mend{{$index+1}}" ng-show="subtype.title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend{{$index+1}}" aria-expanded="false" aria-controls="colmend{{$index+1}}">
                                <h4 class="panel-title">
                                  {{subtype.title}}<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colmend{{$index+1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend{{$index+1}}">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in subtype.data">
                                                <label ng-hide="!startEdit && !mainproduct.salons[rootIndex][parentIndex][$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.salons[rootIndex][parentIndex][$index]" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                        <div class="form-group comment-form">
                            <p>Если вы не нашли интересующие вас услуги в списке выше, то вы можете описаь задачу своими словами. Для этого воспользуйтесь формой ниже. При необходимости вы можете прикрепить фотографии, которые помогут нашим партнерам сделать вам более точное предложение.</p>
                        </div>
                        <div class="form-group comment-area"><label><i class="sprite sprite-comment"></i>ЧТО НУЖНО СДЕЛАТЬ:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Что нужно сделать?" rows="5"> </textarea></div>
                        <div class="clearfix b-first-block">
                            <div class="form-group pull-left" ng-class="{'has-error': errorfile}">
                                <div class="row photo-cube" ng-class="{'nomargin':mainproduct.details.image.length == 0}">
                                    <div class="col-md-3" ng-repeat="i in mainproduct.details.image">
                                        <a target="_blank" href="{{baseurl}}{{i}}"><img ng-dostyle="max-width:100%; border: 1px solid;" ng-src="{{baseurl}}{{i}}" /></a>
                                        <a class="pointer" ng-click="deleteImage(i);" ng-show="startEdit">удалить</a>
                                    </div>
                                </div>
                                <div class="sprite sprite-foto" ng-hide="!startEdit">
                                <input name="name" ng-hide="!startEdit" type='file' model='mainproduct.details.image' error='errorfile' ng-model='hello_file' file-feed multiple />
                                </div>
                                <div ng-show="errorfile">
                                    <span class="help-block" ng-show="errorfile == 'Toomuch'">Не более 4 файлов</span>
                                    <span class="help-block" ng-show="errorfile == 'Toomuch1mb'">Каждый файл не более 1 мб</span>
                                    <span class="help-block" ng-show="errorfile == 'Type'">Загружать можно только картинки</span>
                                </div>
                              
                            </div>
                            <div class="pull-right">  
                                <i class="sprite sprite-master-na-dom" ></i>    
                                <ul class="checkbox-grid">
                                <li>             
                                    <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.tohome" />
                                    Выезд на дом</label>
                                </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix b-second-block">
                            <div class="row pull-left">
                                <div class="col-md-12 pab20">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-disabled="!startEdit" ng-hide="!mainproduct.manny" ng-model="mainproduct.manny" uib-btn-checkbox>
                                            <i class="sprite sprite-man h-sprite"></i><span>Мужской</span>
                                        </label>
                                        <label class="btn btn-default" ng-disabled="!startEdit" ng-hide="!mainproduct.girly" ng-model="mainproduct.girly" uib-btn-checkbox>
                                            <i class="sprite sprite-girl h-sprite-2"></i><span>Женский</span>
                                        </label>
                                        <label class="btn btn-default" ng-disabled="!startEdit" ng-hide="!mainproduct.childly" ng-model="mainproduct.childly" uib-btn-checkbox>
                                            <i class="sprite sprite-rebenok h-sprite-3"></i><span>Ребенок</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                <h4 class="header-time"><i class="sprite sprite-udobnoe-vremya"></i> Удобное время</h4>
                                </div>
                              <div class="col-md-6">
                              <p>с</p>
                                <p class="input-group">
                                
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-disabled="!startEdit" ng-click="open1()"><i class="sprite sprite-calendar"></i></button>
                                  </span>
                                  <input type="text" class="form-control" ng-disabled="!startEdit" uib-datepicker-popup ng-model="mainproduct.start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                </p>
                              </div>

                              <div class="col-md-6">
                              <p>до</p>
                                <p class="input-group">
                                
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-disabled="!startEdit" ng-click="open2()"><i class="sprite sprite-calendar"></i></button>
                                  </span>
                                  <input type="text" class="form-control" ng-disabled="!startEdit" uib-datepicker-popup ng-model="mainproduct.end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                </p>
                              </div>
                            </div>
                            <div class="form-group pull-right clearfix">
                                <i class="sprite sprite-udobnoe-vremya"></i>
                                <ul class="checkbox-grid">
                                    <li>             
                                        <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.time[0]" />
                                        Утренее время</label>
                                    </li>
                                    <li>             
                                        <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.time[1]" />
                                        Дневное время</label>
                                    </li>
                                    <li>             
                                        <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.time[2]" />
                                        Вечернее время</label>
                                    </li>
                                    <li>             
                                        <label><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.time[3]" />
                                        Ночное время</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>

</div>
    